av==8.0.3
biopython==1.72
certifi==2020.12.5
chardet==4.0.0
cycler==0.10.0
decorator==4.4.2
future==0.17.1
GridDataFormats==0.4.0
gsd==1.5.4
idna==2.10
imageio==2.9.0
imageio-ffmpeg==0.4.3
joblib==0.12.5
kiwisolver==1.3.1
latexcodec==1.0.5
matplotlib==3.3.4
MDAnalysis==0.19.0
mmtf-python==1.1.2
mock==3.0.5
moviepy==1.0.3
msgpack==0.5.6
networkx==2.5
numpy==1.19.5
opencv-python==4.5.1.48
oset==0.1.3
pandas==1.1.5
pbr==5.1.0
perlin-noise==1.7
Pillow==8.1.2
proglog==0.1.9
pybtex==0.21
pybtex-docutils==0.2.1
PyOpenGL==3.1.0
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2021.1
PyWavelets==1.1.1
PyYAML==5.4.1
readme-renderer==24.0
requests==2.25.1
requests-toolbelt==0.9.1
scikit-image==0.17.2
scikit-learn==0.24.1
scipy==1.5.4
six==1.12.0
Sphinx==1.8.1
sphinxcontrib-bibtex==0.4.0
threadpoolctl==2.1.0
tifffile==2020.9.3
tqdm==4.32.2
trackpy==0.4.2
twine==1.13.0
urllib3==1.26.4
XlsxWriter==1.3.8
